.nav_cont {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bi{
    padding-left: 100px;

}

.color_div{  
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav_icon {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 50%;
}


.nav_icon > div {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 790px) {
    .bi{
        padding-left: 0px;
    }
}