/* .css-hyum1k-MuiToolbar-root {
    background-color: #212121 !important;
} */


.MuiInputBase-root{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
}

div> .MuiPaper-elevation{
    background-color: #212121 !important; 
}