.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.dark-theme {
  /* background-color: #333; */
  color: #fff; /* Set your light text color */
  height: 100% !important;
}

.dark-theme .form-control {
  background-color: #555; /* Set your dark form control background color */
  color: #fff; /* Set your light text color for form controls */
  border-color: #666; /* Set your form control border color */
}

.dark-theme .btn-primary {
  background-color: #007bff; /* Set your dark theme primary button color */
  border-color: #007bff;
  color: #fff;
}

.dark-theme .btn-primary:hover {
  background-color: #0056b3; /* Set your dark theme primary button color on hover */
  border-color: #0056b3;
}

.dark-theme a {
  color: #fff; /* Set your light text color for links */
}

.dark-theme a:hover {
  color: #f8f9fa; /* Set your light text color for links on hover */
}
